
.count {
    color: #ffffff;
    max-width: none;
    background-color: #ff0000;
    border-radius: 30px;
    height: 23px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.invisible {
   opacity:0;
}
.btnCarrito {
    position: relative;
    left: 1157px;
    top: 10px;
}